<p>
  <strong>User: </strong>
  <%= @post.user.email %>
</p>

<p>
  <img src='<%= @post.image_url %>'>
</p>

<% if current_user&.id == @post.user_id %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
